{% extends 'base.html' %}
{% block content %}
<h2 style="text-align: center;">{{ object.product.name }}を予約注文から削除しますか？</h2>
<form id="deleteForm" method="POST" style="text-align: center;">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ object.id }}">
    {{ form.as_p }}
    <input type="submit" value="削除">
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#deleteForm').on('submit', function(e) {
        e.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '{% url "hotel:delete_item" %}',
            type: 'POST',
            data: formData,
            dataType: 'json',
            headers: {
                "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
            },
            success: function(response) {
                if (response.success) {
                    alert('予約注文の削除に成功しました');
                    window.location.href = '{% url "hotel:cyumon_info" %}';
                } else {
                    alert(response.error);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX エラー:", textStatus, errorThrown);
                alert('エラーが発生しました。もう一度お試しください。');
            }
        });
    });
});
</script>
{% endblock%}