{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>予約削除の確認</h2>
    <p>以下の予約を削除してもよろしいですか？</p>
    <p>予約番号: {{ object.id }}</p>
    <p>ホテル名: {{ object.orderitems_set.first.product.hotel.name }}</p>
    {% comment %} <form method="post"> {% endcomment %}
        {% comment %} {% csrf_token %} {% endcomment %}
    <button id="deleteButton" class="btn btn-danger">削除する</button>
    <a href="{% url 'hotel:order_success_list' %}" class="btn btn-secondary" >キャンセル</a>
    {% comment %} </form> {% endcomment %}
</div>
<script>
$(document).ready(function(){
    $('#deleteButton').click(function(e){
        e.preventDefault();
        var orderId = {{ object.id }};
        
        if(confirm('この予約情報を削除してもよろしいでしょうか？')){
            $.ajax({
                url: '{% url "hotel:cancel_reservation" object.id %}',
                method: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    alert(response.message);
                    window.location.href = '{% url "hotel:order_success_list" %}';
                    //$('#order-' + orderId + ' .status').text('キャンセル済み');
                    //$('#order-' + orderId + ' .cancel-button').prop('disabled', true).hide();
                },
                error: function(xhr){
                    alert(xhr.responseJSON.message || 'エラーが発生しました');
                }
            });
        }
    });
});
</script>
{% endblock %}