{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="col-10 offset-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ hotel.name }}のプラン一覧表</h1>
                <form method="get" action="{% url 'hotel:plan_list' hotel_id=hotel.id  %}">
                    {% csrf_token %}
                    <p>検索したい部屋タイプ: 
                        <select name="room_type"> 
                            <option value="全部屋タイプ" {% if room_type == '全部屋タイプ' or not room_type %}selected{% endif %}>全部屋タイプ</option>
                            <option value="シングルルーム" {% if room_type == 'シングルルーム' %}selected{% endif %}>シングルルーム</option>
                            <option value="クラシックルーム" {% if room_type == 'クラシックルーム' %}selected{% endif %}>クラシックルーム</option>
                            <option value="ダブルルーム" {% if room_type == 'ダブルルーム' %}selected{% endif %}>ダブルルーム</option>
                            <option value="ツインルーム" {% if room_type == 'ツインルーム' %}selected{% endif %}>ツインルーム</option>
                        </select>
                    </p>
                    <p>値段で並び替える：
                        昇順<input type="radio" name="order_by_price" value="1" {% if ascending %}checked{% endif %}>
                        降順<input type="radio" name="order_by_price" value="2" {% if descending %}checked{% endif %}>
                    </p>
                    {% comment %} <p>チェックイン日： <input type="date" name="checkin" value="{{ checkin_date }}"></p>
                    <p>チェックアウト日： <input type="date" name="checkout" value="{{ checkout_date }}"></p> {% endcomment %}
                    <p><input type="submit" value="実行する"/></p>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            {% if plans %}
                {% for plan in plans %}
                    <div class="plan-container d-flex justify-content-between align-itmes-start mb-4">
                        <div class="plan-info p-3 border">
                            <h1>{{ plan.name|default:"No Name" }}</h1>
                            <h6>人数： {{ plan.people|default:"N/A" }}</h6>
                            <h6>部屋タイプ： {{ plan.room_type|default:"N/A" }}</h6>
                            <h6>料金： {{ plan.price|default:"N/A" }}円</h6>
                        </div>
                        <div class="plan-details p-3 border">
                            <ul>
                                <li>プラン名：{{ plan.name }}</li>
                                <li>料金：{{ plan.price }}円</li>
                                <li>残部屋数：{{ plan.stock }}部屋</li>
                                {% comment %} <a href="{% url 'hotel:plan_list' hotel_id=hotel.id %}">Plan Details</a> {% endcomment %}
                                {% if plan.stock %}
                                    
                                    {% comment %}
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test1}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test2}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test3}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test4}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test5}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test6}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test7}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test8}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test9}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test10}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test11}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test12}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test13}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test14}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test15}}</p>
                                    <p>is_addedList_ForHtml{{ plan.id }} : {{is_added_test16}}</p>
                                    {% endcomment %}


                                    {% if plan.id == 1 %}
                                        {% if is_added_test1 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}
                                    {% elif plan.id == 2 %}
                                        {% if is_added_test2 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 3 %}
                                        {% if is_added_test3 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 4 %}
                                        {% if is_added_test4 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 5 %}
                                        {% if is_added_test5 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 6 %}
                                        {% if is_added_test6 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 7 %}
                                        {% if is_added_test7 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 8 %}
                                        {% if is_added_test8 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 9 %}
                                        {% if is_added_test9 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 10 %}
                                        {% if is_added_test10 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 11 %}
                                        {% if is_added_test11 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 12 %}
                                        {% if is_added_test12 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 13 %}
                                        {% if is_added_test13 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 14 %}
                                        {% if is_added_test14 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 15 %}
                                        {% if is_added_test15 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% elif plan.id == 16 %}
                                        {% if is_added_test16 %}
                                            <p class="btn btn-danger">予約注文に追加済みです</p>
                                        {% else %}
                                            <li>数量：
                                                <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                                <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                            </li>
                                        {% endif %}

                                    {% endif %}
                                
                                    {% comment %} 51~60保留 {% endcomment %}
                                   {% comment %} {% for id in plan.id %}
                                        <p>is_addedList_ForHtml[{{ id }}] : {{ is_addedList_ForHtml|get_item:id }}</p>
                                        {% with is_added=is_addedList_ForHtml|get_item:id %}
                                            {% if is_added %}
                                                <p>pass</p>
                                            {% else %}
                                                <p>fail</p>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %} {% endcomment %}
                                  
                                    {% comment %} <p>cart_product_id : {{cart_product_id}}</p> 
                                    {% if is_added %}
                                        <p class="btn btn-danger">予約注文に追加済みです</p>
                                    {% else %}
                                        <li>数量：
                                            <input type="number" id="quantity_{{ plan.id }}" name="quantity" min="1" max="{{ plan.stock }}"><br>
                                            <button id="add_product_{{ plan.id }}" type="button" class="btn btn-primary add-to-cart">予約注文に追加</button>
                                        </li>
                                    {% endif %}
                                    {% endcomment %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="plan-images">
                            {% for picture in plan.pictures.all %}
                                <img width="300px" height="300px" src="{{ picture.image.url }}" alt="{{ plan.name }}">
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                    <script>
                        $(document).ready(function(){
                            var requestInProgress = false;

                                $('.add-to-cart').click(function(e){
                                    e.preventDefault();

                                    if (requestInProgress) return;

                                    var button = $(this);
                                    var planId = button.attr('id').split('_')[2];
                                    var quantity = $("#quantity_" + planId).val();

                                    requestInProgress = true;
                                    button.prop('disabled', true);

                                    $.ajax({
                                        url: '{% url "hotel:add_product" %}',
                                        method: "POST",
                                        data: {
                                            product_id: planId, 
                                            quantity: quantity,
                                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                        },
                                        success: function(response){
                                            alert(response.message);

                                            button.text('予約注文に追加済み');
                                        
                                        },
                                        error: function(xhr){
                                            if (xhr.status === 401) {
                                                alert(xhr.responseJSON.message);
                                                window.location.href = xhr.responseJSON.redirect;
                                            } else {
                                                alert(xhr.responseJSON.message || 'エラーが発生しました');
                                            }
                                        },
                                        complete: function() {
                                            requestSent = false;
                                            button.prop('disabled', false);
                                        }
                                    });
                                });
                            });
                    </script>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
.plan-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.plan-info, .plan-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 0px;
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}
.plan-images {
    flex-shrink: 0;
}
.plan-info h1, .plan-info h6, .plan-details ul {
    margin: 0;
    padding: 0;
} 
.plan-details ul {
    list-style: none;
    padding-left: 0;
}
.plan-info, .plan-details, .plan-images {
    max-width: 300px;
}
.plan-info h1, .plan-info h6 {
    text-align: center;
}
</style>
{% endblock %}

{% comment %} {% block extra_js %}
<script>
    $(document).ready(function(){
        var isRequestSent = false;

        $('.add-to-cart').click(function(){
            if (isRequestSent) return;

            var planId = $(this).attr('id').split('_')[2];
            var quantity = $("#quantity_" + planId).val();

            isRequestSent = true;

            $.ajax({
                url: '{% url "hotel:add_product" %}',
                method: "POST",
                data: {
                    product_id: planId, 
                    quantity: quantity,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response){
                    alert(response.message);
                    isRequestSent = false;
                },
                error: function(xhr){
                    if (xhr.status === 401) {
                        alert(xhr.responseJSON.message);
                        window.location.href = xhr.responseJSON.redirect;
                    } else {
                        alert('エラーが発生しました');
                    }
                    isRequestSent = false;   
                }
            });
        });
    });
</script>
{% endblock %} {% endcomment %}

