{% extends 'base.html' %}
{% block content %}
<div class="col-10 offset-1">
    <h2>予約情報の削除確認</h2>
    {% comment %} {{ if object }} {% endcomment %}
        <div class="form-group">
            <label>名前(姓):</label>
            <input type="text" class="form-control" value="{{ object.last_name }}" readonly>
        </div>
    
        <div class="form-group">
            <label>名前(名):</label>
            <input type="text" class="form-control" value="{{ object.first_name }}" readonly>
        </div>
        <div class="form-group">
            <label>郵便番号:</label>
            <input type="text" class="form-control" value="{{ object.zip_code }}" readonly>
        </div>
        <div class="form-group">
            <label>住所:</label>
            <input type="text" class="form-control" value="{{ object.address }}" readonly>
        </div>
        <div class="form-group">
            <label>電話番号:</label>
            <input type="text" class="form-control" value="{{ object.phone_number }}" readonly>
        </div>
        <div class="form-group">
            <label>チェックイン日:</label>
            <input type="date" class="form-control" value="{{ object.checkin|date:'Y-m-d' }}" readonly>
        </div>
        <div class="form-group">
            <label>チェックアウト日:</label>
            <input type="date" class="form-control" value="{{ object.checkout|date:'Y-m-d' }}" readonly>
        </div>
        <form id="deleteForm" method="post">
        <form method="post">
            {% csrf_token %}
            {% comment %} <button class="btn btn-danger" onclick="confirmDelete()">削除する</button> {% endcomment %}
            <button type="button" class="btn btn-danger" id="deleteButton">削除する</button>
            <a href="{% url 'hotel:input_useraddresses' %}" class="btn btn-secondary">キャンセル</a>
        </form>
    {% comment %} {% endif %} {% endcomment %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#deleteButton').click(function() {
        if (confirm('この予約情報を削除してもよろしいですか？')) {
            $.ajax({
                url: '{% url "hotel:delete_useraddress" object.id %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        alert('予約情報が正常に削除されました。');
                        window.location.href = '{% url "hotel:input_useraddresses" %}';
                    } else {
                        alert('削除中にエラーが発生しました。');
                    }
                },
                error: function() {
                    alert('削除中にエラーが発生しました。');
                }
            });
        }
    });
});
</script>
{% endblock %}
   